
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh
}

nav {
  display: flex;
  justify-content: space-around;
  width: 90%;
  align-items: center;
  text-transform: capitalize;
}

nav h3 {
  font-size: 23px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

nav .menu {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav .menu a {
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #000;
  font-weight: 450;
}

nav .menu a:last-child {
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #f3f0f0
}

nav .btn-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

nav .btn-group button {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  letter-spacing: 1.2px;
  cursor: pointer;
}

nav .btn-group button:first-child {
  outline: none;
  border: 0
}

nav .btn-group button:last-child {
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid rgb(238, 238, 238);
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  nav .menu {
    flex-direction: column;
  }
}
