
body, html {
  border: 0;
  margin: 0;
  height: 100%
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway'), local('Raleway-Regular'), url("https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2") format('woff2');
}

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

#wrapper {
  min-height: 100%;
  padding-top: 40px;
  background-color: #f2f2f2;
}

.main-wrap {
  flex: 1 1 auto;
  gap: 50px;
  width: 90%
}

#title {
  text-transform: capitalize;
  font-family: Raleway;
  font-weight: 800;
  font-size: 37px;
}

#wrapper, .main-wrap, #box-content, .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#box-content {
  position : relative;
  width: 100%
}

#box-content > img {
  border-radius: 10px;
  overflow-y: visible;
  width: max(55%, 400px);
  height: 375px;
}

.container-sections {
  display: flex;
  justify-content: center;
  gap: 20px;
  transform: translateY(-60px);
}

.card {
  background:  #fff;
  border-radius: 10px;
  flex-basis: 250px;
  justify-content: center;
  gap: 12px;
  text-align: center;
  min-height: 300px;
  padding: 0 8px;
  position: relative;
}

.card #leg-img {
  position: absolute; 
  top: -20px;
  height: 60px;
  border-radius: 8px;
  width: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card #leg-img img {
  width: 45px;
  height: 45px;
  filter: brightness(0) invert(1);
}

.card h5 {
  text-transform: capitalize;
  font-size: 17px;
  font-family: Raleway;
  letter-spacing: 1.2px;
}

.card p {
  line-height: 1.4rem;
  font-size: 13px;
  color: #aaaaaa;
  width: 80%
}

.card a {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: #000;
  text-decoration: none;
  position: relative;
}

.card a::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #aaa;
  position: absolute;
  bottom: -1px
}

.card a:hover::before {
  background: #000;
}

.card a:hover {
  color: #8f1313
}

.footer-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background: #333333;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
}

.footer-wrap a {
  color: #adcce9
}

@media screen and (max-width: 768px) {
  .container-sections {
    flex-direction: column;
    position: inherit;
  }
  .card {
    max-width: 500px
  }
}